html {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
        background-color: black;
        font-family: Arial, sans-serif;
        header {
            background-color: black;
            height: 50px;
            text-align: right;
            /* position: fixed;
            width: 100%;
            top: 0;
            left: 0; */
            button {
                margin: 3px;
                background-color: rgba(119,119,119, 78%);
                color: white;
                border: 0;
                border-radius: 5px;
                padding: 3px;
            }
        }
        main {
            height: calc(100vh - 120px);
            overflow-y: auto;
            .container {
                max-width: 1500px;
                margin: 0 auto;
                .row {
                    display: flex;
                    flex-wrap: wrap;
                    /* padding: 0 30px; */
                    .col {
                        width: calc(100% / 7);
                        .content {
                            margin: 1px 2px 10px 1px;
                            position: relative;
                            .img-size {
                                width: 100%;
                            }
                            .label {
                                padding: 4px 3px 3px 3px;
                                color: black;
                                position: absolute;
                                background-color: rgb(128 128 128 / 50%);
                                top: 80px;
                                font-size: 12px;
                                font-weight: 700;
                                z-index: 1;
                            }
                        }
                    }
                }
            }
        }
        footer {
            height: 70px;
            background-color: darkgrey;
        }
    }
}