html {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
        font-family: Arial, sans-serif;
        main {
            background-color: black;
            height: 100vh;
            .container {
                max-width: 100%;
                max-height: 100%;
                margin: 0 auto;
                .size{
                    width: 300px;
                    height: 200px;
                }
                .row {
                    display: flex;
                    flex-wrap: wrap;
                    padding: 50px 50px 0px 50px;
                    .col {
                        width: calc(100% / 7);
                        .content {
                            background-image: url(https://fastly.picsum.photos/id/488/200/100.jpg?hmac=Gq1m4lnWWuBrJ8aQqxTCh0bebPX1NEClpEPAxVTbpFw);
                            margin: 1px 2px 10px 1px;
                            height: 100px;
                            position: relative;
                            .labelRed {
                                padding: 4px 3px 3px 3px;
                                color: black;
                                position: absolute;
                                background-color: rgb(128 128 128 / 50%);
                                top: 80px;
                                font-size: 12px;
                                font-weight: 700;
                                z-index: 1;
                            }
                        }
                    }
                }
            }
        }
    }
}